//Reset some basic elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

//Basic styling
body {
    background-color: $background-color;
    color: $text-color;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height}
        $base-font-family;
    font-feature-settings: "kern" 1;
    font-kerning: normal;

    @include media-query($tiny) {
        font-size: 90%;
    }
}

//Set `margin-bottom` to maintain vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
table,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

//Images
img {
    vertical-align: middle;
}

//Figures
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

//Lists
ul,
ol {
    margin-left: $spacing-unit;

    @include media-query($on-palm) {
        margin-left: $spacing-unit / 2;
    }
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

//Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}

//Links
a {
    border-bottom: 3px solid rgba($brand-color, 0.05);
    color: $brand-color;
    text-decoration: none;
    transition: all 0.2s;

    &:visited {
        color: lighten($brand-color, 15%);
    }

    &:hover {
        border-bottom: 8px solid rgba($brand-color, 0.1);
        color: $text-color;
    }
}

.reversefootnote,
.footnote, //take the underline off the ↩ symbol and the number in the footnotes
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    //this kind of override feels crusty :(
    border: 0;
    &:hover {
        border: 0;
    }
}

//Blockquotes
blockquote {
    border-left: 4px solid $grey-color-light;
    color: $grey-color;
    font-style: italic;
    letter-spacing: -1px;
    padding-left: $spacing-unit / 2;

    > :last-child {
        margin-bottom: 0;
    }
}

//Code formatting
pre,
code {
    background-color: $code-background;
    // border: 1px solid $grey-color-light;
    border-radius: 3px;
    font-size: 90%;
}

code {
    padding: 0 0.3em;
}

pre {
    overflow-x: auto;
    padding: 1em 2em;

    > code {
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
div.highlighter-rouge.language-js {
    margin-left: calc(var(--ex) * -1);
    width: calc(100% + var(--ex) * 2);
    --ex: 3rem;
    @include media-query($on-palm) {
        margin-left: unset;
        width: unset;
    }
}

//Wrapper
.wrapper {
    @include outer-container;

    @include media(max-width 1300px) {
        margin-left: 1em;
        margin-right: 1em;
    }
}

//Clearfix
%clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

//Icons
.icon {
    > svg {
        display: inline-block;
        height: 1.3em;
        vertical-align: middle;
        //width: 1.5em;

        path {
            fill: $grey-color;
        }
    }
}
